.user-container {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
  .buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    button {
      cursor: pointer;
      width: 30px;
      min-width: 0;
      padding: 0;
      height: 30px;
    }
  }
  .name {
    padding-right: 60px;
  }
}
