.new-user-wrapper {
  display: flex;
  justify-content: center;
  .new-user {
    background: lightblue;
  }
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
  .user-item {
    width: 300px;
  }
}


@media (max-width: 600px) {
  .users-list {
    .user-item {
      width: 100%;
    }
  }
}
